.footer {
  padding-top: 50px;
  padding-bottom: 30px;
  background:  #f0ddbe;
}

.footer__logo img {
  width: calc(100% - 80%);
  margin-bottom: 5px;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 28px;
}

.delivery__time-item {
  background: transparent !important;
  transition: 0.3s;
}

.delivery__time-item span {
  font-weight: 600;
  font-size: 1rem;
  color: #212245;
}

.delivery__time-item p {
  color: #212245;
}

.delivery__time-item a:hover{
color: #C99B10;
}
.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.footer_pages{
  padding-bottom: 7px;
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}
.pages{
  margin-left: -17px;
  transition: 0.3s;
}
.pages a:hover {
  color: #C99B10;
}

.social__links span i {
  padding: 5px;
  background: #744830;
  color: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.social__links span i:hover {
  background: #C99B10;
  
}


.copyright__text {
  font-size: 0.8rem;
  color: #744830;
}



@media only screen and (max-width: 768px) {
  .footer__title {
    font-size: 0.8rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 576px) {
  .copyright__text {
    text-align: center;
  }

  .social__links p {
    font-size: 0.8rem;
  }

  .social__links span {
    padding: 4px;
  }
  .social__links span a {
    font-size: 0.7rem;
  }
}
